<h1>Home#index</h1>
<nav>
  <ol>
    <li><%= button_to "Login", "/login" %></li>
  </ol>
</nav>
</nav>
<%= link_to "My Blog", posts_path %>
<p>Find me in app/views/home/index.html.erb</p>
<% if logged_in? %>
  <p>Welcome aboard <%= current_user %></p>
<% end %>
